<p>Some of Debian's
<a href="http://wiki.debian.org/IRC/">IRC channels</a>
on both
<a href="http://libera.chat">Libera.Chat</a>
and
<a href="http://www.oftc.net">OFTC</a>
have a bot named
<code>judd</code>
to provide information about Debian packages and hardware support.</p>

<h2>Contents</h2>
<ol>
  <li><a href="#about">About the bot</a>
  </li>
  <li><a href="#binarypackages">Binary package information</a>
    <ul>
       <li><a href="#judd-versions">versions, arches</a></li>
       <li><a href="#judd-info">info, popcon</a></li>
       <li><a href="#judd-names">names</a></li>
       <li><a href="#judd-depends">depends, recommends, suggests, enhances, conflicts</a></li>
       <li><a href="#judd-provides">provides, rprovides</a></li>
       <li><a href="#judd-why">why</a></li>
       <li><a href="#judd-file">files</a></li>
       <li><a href="#judd-alternative">alternatives</a></li>
    </ul>
  </li>
  <li><a href="#sourcepackages">Source package information</a>
    <ul>
       <li><a href="#judd-source">source, binaries</a></li>
       <li><a href="#judd-builddep">builddep, checkbackport</a></li>
       <li><a href="#judd-maint">maint, recent, whouploads</a></li>
    </ul>
  </li>
  <li><a href="#bts">Bugs tracking information</a>
    <ul>
        <li><a href="#judd-bug">bug, bug rc</a></li>
        <li><a href="#judd-bug-rm">bug rm, bug wnpp, bug rfs</a></li>
    </ul>
  </li>
  <li><a href="#hardware">Hardware information</a>
    <ul>
        <li><a href="#piccy-pciid">pciid</a></li>
        <li><a href="#piccy-pciname">pciname</a></li>
    </ul>
  </li>
  <li><a href="#kernel">Kernel information</a>
    <ul>
        <li><a href="#piccy-kernels">kernels</a></li>
        <li><a href="#piccy-kconfig">kconfig</a></li>
    </ul>
  </li>
  <li><a href="#source">Source code</a>
  </li>
</ol>
