<a id="binarypackages" />
<h2>Binary package information</h2>

<p>
Information about what packages are in the various
<a href="http://wiki.debian.org/DebianReleases">Debian releases</a>
is provided by the <code>Judd</code> plugin.
The most commonly used commands and some sample output are shown below.
</p>


<a id="judd-versions" />
<h3>Package versions</h3>
<p>Display the versions of a package that are available in
each of the indexed repositories.</p>

<div class="example">
    <div class="synopsis input">versions <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>
    <div class="input">versions libc6</div>
    <div class="output">Package: libc6 on amd64 -- lenny: 2.7-18lenny7; lenny-security: 2.7-18lenny7; squeeze-updates: 2.11.3-3; squeeze: 2.11.3-4; squeeze-proposed-updates: 2.11.3-4; sid: 2.13-35; wheezy: 2.13-35</div>

    <div class="input">versions libc0.1 --arch kfreebsd-i386</div>
    <div class="output">Package: libc0.1 on kfreebsd-i386 -- squeeze: 2.11.3-4; squeeze-proposed-updates: 2.11.3-4; sid: 2.13-35; wheezy: 2.13-35</div>

    <div class="input">versions debhelper --release squeeze-backports</div>
    <div class="output">Package: debhelper on amd64 -- squeeze-backports: 9.20120608~bpo60+1</div>

    <div class="input">versions libc6 --arch hurd-i386</div>
    <div class="output">No package named 'libc6' was found in hurd-i386.</div>
</div>

<p>Display the architectures for which a package is available and the
version that is available for each architecture.</p>
<div class="example">
    <div class="synopsis input">arches <span class="var">packagename</span>
                [ --release <span class="var">release</span> ]
    </div>
    <div class="input">arches libc6</div>
    <div class="output">Package libc6 in squeeze: amd64 (2.11.3-4), armel (2.11.3-4), i386 (2.11.3-4), mips (2.11.3-4), mipsel (2.11.3-4), powerpc (2.11.3-4), s390 (2.11.3-4), sparc (2.11.3-4)</div>

    <div class="input">arches gcc-4.7 --release sid</div>
    <div class="output">Package gcc-4.7 in sid: amd64 (4.7.2-3), armel (4.7.2-2), armhf (4.7.2-2), hurd-i386 (4.7.2-2), i386 (4.7.2-3), ia64 (4.7.2-2), kfreebsd-amd64 (4.7.2-3), kfreebsd-i386 (4.7.2-3), mips (4.7.2-2), mipsel (4.7.2-2), powerpc (4.7.2-3), s390 (4.7.2-3), s390x (4.7.2-3), sparc (4.7.2-2)</div>

    <div class="input">arches debhelper</div>
    <div class="output">Package debhelper in squeeze: all (8.0.0)</div>
</div>

<a id="judd-info" />
<h3>About a package</h3>
<p>Display the short description, package size for the specified release
and architecture or the
<a href="http://popcon.debian.org/">popcon</a>
data for a package.
Relevant <a href="http://wnpp.debian.net/">WNPP bugs</a>
are displayed if titled correctly.</p>

<div class="example">
    <div class="synopsis input">info <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>
    <div class="input">info libc6</div>
    <div class="output">Package libc6 (libs, required) in squeeze/amd64: Embedded GNU C Library: Shared libraries. Version: 2.11.3-4; Size: 3793.4k; Installed: 9360k; Homepage: http://www.eglibc.org</div>

    <div class="input">info libc6 --arch amd64 --release sid</div>
    <div class="output"> Package libc6 (libs, required) in sid/amd64: Embedded GNU C Library: Shared libraries. Version: 2.13-35; Size: 4242.8k; Installed: 9504k; Homepage: http://www.eglibc.org</div>

    <div class="input">info htdig</div>
    <div class="output">Package htdig (web, optional) in squeeze/amd64: web search and indexing system - binaries. Version: 1:3.2.0b6-9.1; Size: 1811.7k; Installed: 6352k; O: #375733</div>
</div>

<div class="example">
    <div class="synopsis input">popcon <span class="var">packagename</span>
    </div>
    <div class="input">popcon frozen-bubble</div>
    <div class="output">Popcon data for frozen-bubble: inst: 2277, vote: 292, old: 1853, recent: 132, nofiles: 0</div>
</div>


<a id="judd-names" />
<h3>Finding packages</h3>
<p>Searching for packages with <code>axi-cache search</code>, <code>apt-cache search</code> or <code>aptitude search</code> is always going to be
faster than using <code>Judd</code>, but it is possible to search
the database for package names.</p>

<div class="example">
    <div class="synopsis input">names <span class="var">keyword</span>
    </div>
    <div class="input">names translate*</div>
    <div class="output">Search for translate* in squeeze/amd64: translate 0.6-11; translate-docformat 0.6-5; translate-toolkit 1.7.0-0.1; translate-toolkit-dev-doc 1.7.0-0.1</div>
</div>


<a id="judd-depends" />
<h3>Package relationships</h3>
<p>The packages declared as <code>Depends</code>, <code>Recommends</code>,
<code>Suggests</code>, <code>Enhances</code>, <code>Conflicts</code>,
<code>Breaks</code>, and <code>Replaces</code>
for any binary package can be found:</p>

<div class="example">
    <div class="synopsis input">depends <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>
    <div class="synopsis input">recommends <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>
    <div class="synopsis input">suggests <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>
    <div class="synopsis input">enhances <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>
    <div class="synopsis input">conflicts <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>
    <div class="synopsis input">breaks <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>
    <div class="synopsis input">replaces <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>

    <div class="input">depends latexdraw --release sid</div>
    <div class="output">Package latexdraw in sid/amd64 -- depends: openjdk-7-jre | openjdk-6-jre | sun-java6-jre, libjiu-java, libjlibeps-java, java-wrappers.</div>

    <div class="input">conflicts libc6</div>
    <div class="output">Package libc6 in squeeze/amd64 -- conflicts: prelink (&lt;= 0.0.20090311-1), tzdata (&lt;&lt; 2007k-1), tzdata-etch.</div>
</div>


<a id="judd-provides" />
<h3>Provides and virtual packages</h3>
<p>Packages in Debian can also provide the functionality of another
package (or provide a virtual package);
packages can depend on packages that are only virtual packages (i.e. package names
that only appear in a <code>Provides</code> entry).
Such virtual packages do not have
versions and will not appear in <code>versions</code> or <code>info</code>
queries.
The packages listed in <code>Provides</code> can be queried using the
<code>provides</code> command and the packages that declare that they
provide a virtual package can be found using the <code>rprovides</code> command.</p>

<div class="example">
    <div class="synopsis input">provides <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>
    <div class="input">provides postfix</div>
    <div class="output">Package postfix in squeeze/amd64 provides: mail-transport-agent, postfix-tls.</div>

    <div class="input">provides php5-cgi</div>
    <div class="output">Package php5-cgi in squeeze/amd64 provides: phpapi-20090626+lfs.</div>
</div>

<div class="example">
    <div class="synopsis input">rprovides <span class="var">packagename</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release <span class="var">release</span> ]
    </div>
    <div class="input">rprovides mail-transport-agent</div>
    <div class="output">Package mail-transport-agent in squeeze/amd64 is provided by: postfix, msmtp-mta, courier-mta, esmtp-run, sendmail-bin, ssmtp, dma, exim4-daemon-heavy, masqmail, xmail, citadel-mta, exim4-daemon-light, nullmailer.</div>
</div>

<a id="judd-why" />
<h3>Dependency chains</h3>

<p>It is also possible to trace through a dependency chain (similar to
<code>aptitude why pkg1 pkg2</code>). Note that for very large dependency
trees this process is not fast. Each dependency chain is separated by
a semicolon (;).
A hard dependency (<code>Depends</code>) is indicated by a filled arrow (▶)
and a soft dependency (<code>Recommends</code>) is indicated by an open arrow (▷).
</p>

<div class="example">
    <div class="synopsis input">why <span class="var">packagename1</span>
                    <span class="var">packagename2</span>
    </div>
    <div class="input">why bacula libfontconfig1</div>
    <div class="output">Packages bacula and libfontconfig1 in squeeze/amd64 are linked by 6 chains: bacula ▶ bacula-client ▷ bacula-traymonitor ▶ libfontconfig1; bacula ▶ bacula-client ▷ bacula-traymonitor ▶ libgtk2.0-0 ▶ libfontconfig1; bacula ▶ bacula-client ▷ bacula-traymonitor ▶ libcairo2 ▶ libfontconfig1; bacula ▶ bacula-client ▷ bacula-traymonitor ▶ libgtk2.0-0 ▶ libpango1.0-0 ▶ libfontconfig1; bacula ▶ bacula-client ▷ bacula-traymonitor ▶ libgtk2.0-0 ▶ libpango1.0-0 ▶ libxft2 ▶ libfontconfig1; bacula ▶ bacula-client ▷ bacula-traymonitor ▶ libgtk2.0-0 ▶ libpango1.0-0 ▶ libpango1.0-common ▶ fontconfig ▶ libfontconfig1</div>

    <div class="input">why bacular texlive-binaries</div>
    <div class="output">No dependency chain found between packages bacula and texlive-binaries in squeeze/amd64.</div>
</div>

<a id="judd-file" />
<h3>Package contents</h3>
<p>The files contained within each package are recorded in the Contents files
on the mirrors. The command line tool
<a href="http://packages.debian.org/apt-file">apt-file</a> can be
used to search through these indices, as can <code>Judd</code>.
</p>

<div class="example">
    <div class="synopsis input">file <span class="var">pattern</span>
                [ --arch  <span class="var">architecture</span> ]
                [ --release  <span class="var">release</span> ]
    </div>

    <div class="input">file /lib/libc.so.6</div>
    <div class="output">Search for /lib/libc.so.6 in squeeze/amd64: libc6: lib/libc.so.6</div>

    <div class="input">file libc.so.6</div>
    <div class="output">Search for libc.so.6 in squeeze/amd64: libc6-amd64: lib64/libc.so.6; libc6: lib/libc.so.6; libc6-i686: lib/i686/cmov/libc.so.6; libc6-xen: lib/i686/nosegneg/libc.so.6</div>

    <div class="input">file bin/*gettext* --release sid</div>
    <div class="output">Search for bin/*gettext* in sid/amd64: [truncated] python3.2: usr/bin/pygettext3.2; librep-dev: usr/bin/rep-xgettext; ruby-gettext: usr/bin/rgettext; po-debconf: usr/bin/debconf-gettextize; libgettext-ocaml-dev: usr/bin/ocaml-gettext, usr/bin/ocaml-xgettext; python-nevow: usr/bin/nevow-xmlgettext; python3: usr/bin/pygettext3; libglib2.0-dev: usr/bin/glib-gettextize; python2.7: usr/bin/pygettext2.7; python2.6: usr/bin/pygettext2.6; liblocale-maketext-lexicon-perl: usr/bin/xgettext.pl; gettext: usr/bin/gettextize, usr/bin/xgettext; gettext-base: usr/bin/gettext, usr/bin/gettext.sh, usr/bin/ngettext; python: usr/bin/pygettext; roundup: usr/bin/roundup-gettext; po4a: usr/bin/po4a-gettextize</div>
</div>

<p>Note that files created by maintainer scripts (such as configuration files)
and files managed by the alternatives system are not necessarily
indexed in Contents. If there are too many matches, <code>Judd</code> will
truncate the output.<!-- See the <a href="#judd-alternative">alternative</a>
command for a way of searching the alternatives system.--></p>

<!--<a id="judd-alternative" />
<h3>Alternatives</h3>
<p>Sets of cooperating packages may arrange to use the
<a href="http://wiki.debian.org/DebianAlternatives">alternatives system</a>
to share a namespace on the filesystem. Examples of this are the
<code>editor</code> command (<code>/usr/bin/editor</code>) which is provided
as an alternative by 43 packages (at last count).
</p>

<p>Alternatives can be queried either by the full path or by the filename.</p>

<div class="example">
    <div class="synopsis input">alternative <span class="var">pattern</span>
    </div>

    <div class="input">alternative /usr/bin/editor</div>
    <div class="output">Alternative editor in sid: cream, dav-text, e3, ed, elvis, elvis-console, elvis-tiny, emacs23, emacs23-lucid, emacs23-nox, emacs24, emacs24-lucid, emacs24-nox, fte, gnuserv, jed, joe, joe-jupp, jove, jupp, jvim-canna, le, levee, lpe, mc, mg, nano, nano-tiny, ne, nedit, ng-common, nvi, the, vigor, vile, vim, vim-athena, vim-gnome, vim-gtk, vim-nox, vim-tiny, xemacs21, xjed, zile.</div>

    <div class="input">alternative gnome-www-browser</div>
    <div class="output">Alternative gnome-www-browser in sid: chromium, epiphany-browser, iceweasel.</div>

</div>

<p>Note that in the absence of a declarative syntax for alternatives, the list
of available alternatives must be created by installing and removing packages
and looking at the alternatives installed by the maintainer scripts. The data
searched by Judd is a periodic snapshot prepared by Jakub Wilk.</p>-->
